$hipcamp-font-set:  "Calibre", Helvetica, Arial, sans-serif;
$menu-item-width:   200px;
$menu-item-height:  70px;
$border-style: solid 1px black;

html, body {
  font: 100% $hipcamp-font-set;
  padding: 0;
  margin: 0;
}
.menu {
  position: relative;
}

/* We remove the margin, padding, and list style of UL and LI components */
.menu ul, .menu ul li {
  margin: 0;
  padding: 0;
}

.menu li {
  width: $menu-item-width;
  height: $menu-item-height;
  line-height: $menu-item-height;
  border-bottom: $border-style;
  border-left: $border-style;
  border-right: $border-style;
  list-style: none;
  cursor: pointer;
  text-align: center;
}

.menu li:first-child {
  border-top: $border-style;
}

.menu a {
  display: block;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}

/* We apply background color to first level */
.menu ul li{
  background-color: orange;
}

.menu ul li:hover{
  position: relative;
}

/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
.menu ul li ul{
  position: absolute;
  display: none;
}

/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
.menu ul li:hover ul{
  left: $menu-item-width;
  top: -1px;
  display: block;
}

/* we apply different background color to 2nd level menu items*/
.menu ul li ul li{
  background-color: #FFADF9;
}

/**** THIRD LEVEL MENU ****/
/* We need to hide the 3rd menu, when hovering the first level menu */
.menu ul li:hover ul li ul{
  position: absolute;
  display: none;
}

/* We show the third level menu only when they hover the second level menu parent */
.menu ul li:hover ul li:hover ul{
  display: block;
  left: $menu-item-width;
  top: -1px;
}

/* We change the background color for the level 3 submenu*/
.menu ul li:hover ul li:hover ul li{
  background: #AEFFBD;
}

/* Clear float */
.clear{
  clear: both;
}
